@font-face {
  font-family: "font-1";
  src: url(../font/Tangerine/Tangerine-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../font/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "font-2";
  background: url();
  background: #161516;
}

/**********************************************************************************
******************************  ACCUEIL  *******************************************
***********************************************************************************/

.bg-accueil {
  height: 95vh;
  background: url(../img/bg-2.jpg) center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.acc-txt-container {
  width: 50%;
  font-family: "font-1";
  margin-bottom: 50px;
  margin-top: 150px;
}

.acc-txt-container h1 {
  font-size: 4rem;
  text-align: center;
}

.acc-txt-container h2 {
  text-align: end;
  font-size: 2.5rem;
}

.picto-acc {
  font-size: 3rem;
  border: 4px solid white;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.scroll {
  width: 100%;
}

.scroll ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0 200px;
  font-size: 1.5rem;
}

.scroll-2 ul {
  padding: 0;
}

.scroll-2 li {
  padding: 0 10px;
  cursor: pointer;
  transition: 0.2s;
}

.scroll-2 a {
  color: white;
}

.scroll-2 li:hover {
  color: rgba(255, 255, 255, 0.452);
  transform: scale(1.2);
}

/**********************************************************************************
******************************  BOTTLES  *******************************************
***********************************************************************************/

.bg-bouteille {
  background: url(../img/bg-1.jpg) center/cover;
  /* padding-top: 200px; */
  height: 1000px;
  position: relative;
}

.bloc-bottle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1000px;
  width: 80%;
  margin: 0 auto;
}

.grid-bouteille {
  width: 500px;
  height: 500px;
  background: #232323;
  color: white;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 10px;
}

.img-bouteille {
  position: relative;
}

.img-bouteille img {
  height: 500px;
  position: absolute;
  height: 550px;
  left: -120px;
  top: -50px;
}

.text-bouteille {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  text-align: left;
  width: 90%;
}

.text-bouteille h3 {
  font-size: 35px;
}

.text-bouteille h4 {
  font-size: 20px;
}

.text-bouteille a {
  color: #b08f54;
  margin-right: 100px;
}

.trait-bottle {
  height: 1px;
  width: 20px;
  background: white;
  margin-bottom: 10px;
}

.button-bottle {
  position: absolute;
  top: 80%;
  left: 70%;
}

.button-bottle button {
  background: none;
  border: 1px solid white;
  height: 70px;
  width: 200px;
  color: white;
  font-size: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.button-bottle button:hover {
  background: white;
  color: #161516;
}

/**********************************************************************************
******************************  RESPONSIVE  ***************************************
***********************************************************************************/

@media screen and (max-width: 1300px) {
  .grid-bouteille {
    width: 380px;
    height: 380px;
  }

  .img-bouteille img {
    height: 400px;
    position: absolute;
    left: -80px;
    top: -20px;
  }

  .button-bottle button {
    height: 50px;
    width: 160px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .bloc-bottle {
    display: flex;
    flex-direction: column;
  }
  .button-bottle {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .bg-accueil {
    height: 20vh;
  }

  .acc-txt-container,
  .picto-acc,
  .scroll {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .grid-bouteille {
    width: 300px;
    height: 300px;
  }

  .img-bouteille img {
    height: 330px;
    position: absolute;
    left: -70px;
    top: -30px;
  }

  .text-bouteille p {
    display: none;
  }

  .text-bouteille a {
    margin-right: 0;
  }
}
