/**********************************************************************************
******************************  FOOTER  *******************************************
***********************************************************************************/

.foot-cont {
  height: 100px;
  width: 100%;
  background: white;
  font-size: 20px;
}

.foot-cont ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  color: #161516;
}

.foot-cont a {
  color: #161516;
  text-decoration: none;
}

.foot-cont span {
  color: #b08f54;
  margin-left: 10px;
}

/**********************************************************************************
******************************  RESPONSIVE  ***************************************
***********************************************************************************/

@media screen and (max-width: 1000px) {
  .foot-cont {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .foot-cont {
    font-size: 15px;
  }

  .foot-cont ul {
    display: flex;
    flex-direction: column;
  }
}
