@font-face {
  font-family: "font-1";
  src: url(../font/Tangerine/Tangerine-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../font/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(../font/Playfair_Display_SC/PlayfairDisplaySC-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "font-2";
  background: #161516;
}

.container-modif {
  background: url(../img/bg-1-produits.jpg) center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nom {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 40px;
  width: 300px;
  padding: 0 20px;
  font-size: 20px;
  outline: none;
  color: white;
}

#description {
  background: transparent;
  border: 1px solid white;
  margin-bottom: 40px;
  height: 200px;
  width: 300px;
  padding: 0 20px;
  font-size: 20px;
  outline: none;
  color: white;
  resize: none;
}

#picture {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 40px;
  width: 300px;
  padding: 0 20px;
  font-size: 20px;
  outline: none;
  color: white;
}

#btn {
  height: 50px;
  width: 300px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  transition: 0.2s;
  outline: none;
}

#btn:hover {
  background: white;
  color: #161516;
}
